#projects-container{
  padding: 110px 20%;
  width: 100%;
  min-height: 40vh;
  margin:auto;
}
#projects-list{
  width: 100%;
  padding: 30px 45px;
}
#projects-list h1{
  font-family: 'Raleway Black';
  font-style: normal;
}

#project-header{
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#project-header h1{
  font-size: 40px;
}

#filter-btn{
  height: fit-content;
  padding: 5px;
  background: none;
  border: none;
  display: flex;
  place-items: center;
  cursor: pointer;
}

#filter-btn p{
  margin-top: 1px;
  margin-left: 6.5px;
  font-size: 16px;
  font-weight: bold;
}

#filters-container,
#filters-wrapper,
#filters-wrapper ul{
  display: flex;
  flex-direction: row;
}
#filters-container{
  background: #F4F6FA;
  border-top: 1px solid #E7ECF5;
}

.filter-list {
  display: flex;
  flex-direction: row;
  padding:6px;
}

#filters-container h6{
  font-size: 1rem;
  font-weight: bold;
}
#filters-container ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#filters-container li{
  height: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#filters-container label{
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.filter-list a{
  display: flex;
  flex-direction: row;
  padding:3px;
  width: fit-content;
}
.filter-list .left-semi-circle{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: white;
  height: 20px;
  width: 20px;
  padding: 4px;
}
.filter-list .right-semi-circle{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: white;
  height: 20px;
  width: 20px;
}
.filter-list .bullet-circle{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #F4F6FA;
  border-radius:50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.filter-list .bullet-circle::before{
  content:"";
  width: 40%;
  height: 40%;
  border-radius:50%;
  background-image:url('/icons/tag-bullet.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity:0;

  transition: width .9s cubic-bezier(0.075, 0.82, 0.165, 1),
              height .9s cubic-bezier(0.075, 0.82, 0.165, 1),
              opacity .9s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.filter-list li:hover .bullet-circle::before{
  opacity: 1;
}
.filter-list .tag-input:checked ~ .bullet-circle::before{
  opacity:1;
  width:100%;
  height:100%;
}
#filters-container .tag-input{
  display:none;
}

.filter-list .tag-name{
  font-size: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  padding-left: 6px;
}